.header {
  width: calc(100% - 2 * 200px);
  margin: auto;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
}

@media screen and (max-width: 1279px) {
  .header {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 984px) {
  .header {
    width: calc(100% - 38px);
  }
}

@media screen and (max-width: 456px) {
  .header {
    width: 100%;
  }
}
