.footer{
    width: calc(100% - 400px);
    margin: auto;
    max-width: 880px;
}

@media screen and (max-width: 1279px) {
    .footer{
      width: calc(100% - 100px)
    }
  }
  @media screen and (max-width: 984px) {
    .footer{
      width: calc(100% - 38px);
    }
  }